{{ partial "head.html" . }} {{ partial "header.html" . }}


 <body class="bg-light-gray">

  
<main class="w-container pt-14 pb-20   ">
  <section class="text-center px-3 space-y-3 py-5">
    <span>{{.Params.author}}</span>
    <h1>{{.Title }} </h1>
  </section>

  <section class="content pt-20 pb-20 mb-10 border-b-1 border-solid border-dark-gray border-opacity-50">
    {{.Content }}
  </section>


{{ $author := .Params.author }}
{{ $tags := .Params.tags }}
  
{{ $relatedBlogs := slice }}
{{ range .Site.Pages }}
  {{ if   and (eq .Params.author $author) (ne .Permalink $.Permalink) }}
    {{ $relatedBlogs = $relatedBlogs | append . }}
  {{ end }}
{{ end }}

{{ if gt (len $relatedBlogs) 0 }}
  <div class="related-blogs">
    <h3>More Blogs by the author  {{ $author }}</h3>
    <ul>
      {{ range first 5 $relatedBlogs }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}





{{ $relatedTags := slice }}
{{ range .Site.Pages }}
  {{ if   and (eq .Params.tags $tags) (ne .Permalink $.Permalink) }}
    {{ $relatedTags = $relatedTags | append . }}
  {{ end }}
{{ end }}

{{ if gt (len $relatedTags) 0 }}
  <div class="related-blogs">
    <h3>More Blogs by the author  {{ $author }}</h3>
    <ul>
      {{ range first 5 $relatedTags }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}



</main>
{{ partial "footer.html" .}}

</body>






