<header
  class="flex flex-wrap gap-10 items-center justify-between w-container py-4 border-b-1 border-solid after:left-0 after:right-0 after:w-full after:h-[1px] after:bg-black relative after:absolute after:top-auto after:bottom-[0.5px] after:bg-opacity-50 border-dark-gray border-opacity-50"
>
  <a href="/" class="logo">
   <span>Rakesh Gupta</span>
  </a>
  <nav>
    <ul class="flex flex-wrap gap-4 md:gap-7 list-none">
      {{ $cur := .}} {{ range $.Site.Menus.header}}
      <li>
        <a
      
      {{ $active := in
        $cur.Permalink .URL }}

       {{ if $active }}
       class="active"
       {{ end }}
      
      href="{{ .URL }}">
        {{ .Name }}
      </a>
      </li>
      {{ end }}

      <a
        href="{{ .Site.BaseURL }}/index.xml"
        class="feed"
        title="Subscribe to feed"
      >
        feed
      </a>
    </ul>
  </nav>
</header>
