
<article class="md:w-10/12 lg:w-9/12  ">
      <h3  >
        <a href="{{ .RelPermalink }}" class="hover:text-brick inline-block no-underline decoration-from-font focus-visible:text-brick hover:underline ">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
      </h3>
    <span
      class="pt-2 pb-3 text-dark-gray font-light text-sm leading-tight md:text-base block"
    >
    {{ .Description }}
    </span>
    <div class="font-normal space-x-1 text-sm">
      <span>6 Mar 2023</span>
      <span>-</span>
      <span>Kailash Nadh</span>
    </div>
  </article>
