<section class="border-b-1 border-solid border-black py-3 px-3 mt-14 border-opacity-30">
  <section class="  grid grid-cols-3 max-w-[250px] ml-auto gap-5">
    <a href="https://twitter.com/share?url={{ .Permalink }}&text=Checkout+this+awesome+blog+I+have+found" target="_blank"  class=" grid place-content-center p-2 rounded-full hover:opacity-80 focus-visible:opacity-80 focus:outline-none transition-all duration-300 ease-in-out">
      <img class="w-7 h-7" src="/icons/twitter.svg" alt="Share the post on twitter">
  
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&quote=Checkout+this+awesome+blog+I+have+found" target="_blank"  class=" grid place-content-center p-2 rounded-full hover:opacity-80 focus-visible:opacity-80 focus:outline-none transition-all duration-300 ease-in-out">
      <img class="w-7 h-7" src="/icons/facebook.svg" alt="Share the post on facebook">
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title=Checkout+this+awesome+blog+I+have+found" target="_blank"  class=" grid place-content-center p-2 rounded-full hover:opacity-80 focus-visible:opacity-80 focus:outline-none transition-all duration-300 ease-in-out">
      <img class="w-7 h-7" src="/icons/linkedin.svg" alt="Share the post on LinkedIn">
    </a>
  </section>
  
</section>