<!DOCTYPE html>

{{ partial "head.html" .}} {{ partial "seo.html" .}}
<body>


    {{ partial "header.html" .}}
	{{ $pagesRoot  := where .Site.RegularPages "Type" "in" "page" }}
	{{ $pagesFromFolder  := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{ $pages := union $pagesRoot $pagesFromFolder }}
	{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
	{{ range $paginator.Pages }}
		<div class="post blurb">
			<div class="post-header">
				<div class="meta">
					<div class="date">
						{{ dateFormat "02 Jan 2006" .Date }}
					</div>
				</div>
				<h3 class="title">
					<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
				</h3>
			</div>
			<div class="description">
				{{ if isset .Params "description" }}
					{{ .Description }}
				{{ else if gt (len .RawContent) 120 }}
					{{ slicestr .RawContent 0 120 }}...
				{{ else }}
					{{ .RawContent }}
				{{ end }}
			</div>
			{{ partial "author.html" . }}
		</div>
	{{ end }}
	
     {{ partial "footer.html" .}}
	 {{ template "partials/paginator.html" . }}
	 
</body>
</html>